<div class="col-lg-12">

  <!-- Background Gradient Utilities -->
  <div class="card shadow mb-10">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Custom Background Gradient Utilities
          </h6>
      </div>
      <div class="card-body">
          <div class="px-3 py-5 bg-gradient-primary text-white">.bg-gradient-primary</div>
          <div class="px-3 py-5 bg-gradient-secondary text-white">.bg-gradient-secondary</div>
          <div class="px-3 py-5 bg-gradient-success text-white">.bg-gradient-success</div>
          <div class="px-3 py-5 bg-gradient-info text-white">.bg-gradient-info</div>
          <div class="px-3 py-5 bg-gradient-warning text-white">.bg-gradient-warning</div>
          <div class="px-3 py-5 bg-gradient-danger text-white">.bg-gradient-danger</div>
          <div class="px-3 py-5 bg-gradient-light text-white">.bg-gradient-light</div>
          <div class="px-3 py-5 bg-gradient-dark text-white">.bg-gradient-dark</div>
      </div>
  </div>

</div>
